* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Design Begins */
.header {
    background-color: #f7ede2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Baloo Bhai';
    font-size: 22px;
    color: #ea3546;
}

.logo img {
    height: 80px;
    width: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    display: block;
    padding: 13px 34px;
    color: #540b0e;
    font-size: 20px;

}

.navbar a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #0d1b2a;
    display: block;
    margin: auto;
}

.navbar a:hover::after {
    width: 100%;
    transition: 0.5s;
}

.header span {
    font-weight: bolder;
    font-size: 30px;
}

i {
    color: brown;
    padding: 10px 20px;
    font-size: 30px;
}

/* headers ends here */
/* body starts here */
.body {
    text-align: center;
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('cakebg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}

.body h1 {
    top: 25%;
    left: 25%;
    font-size: 3rem;

}

.btn1 {
    border: 1px solid white;
    background: transparent;
    position: relative;
    padding: 13px 33px;
    text-decoration: none;
    color: white;
}

.btn1:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.textarea {
    width: 90%;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.textarea h1 {
    padding: 28px 13px;
}

/* body ends here */
/* home1 starts here */
.home1 img {
    width: 100%;
    height: 85vh;
}

.footer {
    font-family: 'Mukta', sans-serif;
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #000;
}

.footer .foot {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    line-height: 1.5;
    width: 50%;
    color: #fff;
}

.foot p {
    padding: 10px 13px;
    font-size: 18px;
}

.social p {

    text-align: center;
    padding: 13px;
}